:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--light-gray);
  font-family: 'Outfit', sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 1rem;
}

img {
  display: block;
  max-width: 100%;
}

.card {
  border-radius: 20px;
  padding: 1rem 1rem 2.5rem;
  max-width: 320px;
  background-color: var(--white);
  color: var(--grayish-blue);
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
}

.card__body {
  text-align: center;
  margin-top: 1.5rem;
}

.card__image {
  border-radius: 10px;
}

.card__title {
  font-size: 1.375rem;
  color: var(--dark-blue);
}

.card__text {
  margin: 1rem 1rem 0;
  font-size: 0.9375rem;
  letter-spacing: 0.19px;
}
